<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/listings/<%=listing._id%>?_method=PUT" method="POST">
        <input type="text" name="listing[title]" value="<%=listing.title%>">
        <br>
        <textarea name="listing[description]" id="" >
            <%=listing.description%>
        </textarea>
        <br>
        <input type="text" name="listing[image]" id="" value="<%=listing.image.url%>">
        <br>
        <input type="number" name="listing[price]" value="<%=listing.price%>">
        <br>
        <input type="text" name="listing[location]" value="<%=listing.location%>">
        <br>
        <input type="text" name="listing[country]" id="" value="<%=listing.country%>">
        <button>Submit</button>
    </form>
</body>
</html>